.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  align-items: center;
}

body {
  background-image: linear-gradient(to right, #243949 0%, #161c22 100%);
  font-family: "DM Sans", sans-serif;
}

.light {
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
